Daily Social Media Post Automation from Google Sheets for github.json
{
  "name": "Daily Social Media Post Automation from Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "39c16bc8-fe8f-4d31-9f07-c7c5bb623ca9",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "spreadsheetId",
              "value": "1uu355o5cutGVN8VKmYZY_VHFR_Ru9H2xt43T9JKo94Q",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sheetName",
              "value": "post sheet",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5436c8a0-d2c9-4fd0-8716-d7bcb1fc32ea",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "value": "1uu355o5cutGVN8VKmYZY_VHFR_Ru9H2xt43T9JKo94Q"
        },
        "sheetName": {
          "value": "gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          },
          "returnFirstMatch": true
        }
      },
      "id": "68e1d584-0aae-45d0-941f-c03a029f4144",
      "name": "Fetch Unposted Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "value": "1uu355o5cutGVN8VKmYZY_VHFR_Ru9H2xt43T9JKo94Q"
        },
        "sheetName": {
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Fetch Unposted Row').item.json.row_number }}",
            "Status": "Posted"
          },
          "matchingColumns": [
            "row_number"
          ]
        },
        "options": {}
      },
      "id": "831630d5-7e98-4b36-b625-5f12c8eb62a2",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        0
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Fetch Unposted Row').item.json.Image_Prompt }}",
        "options": {
          "size": "1024x1024",
          "returnImageUrls": false
        }
      },
      "id": "0d14926f-ac77-40f2-aa64-fbb805c9c46f",
      "name": "Generate Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1024,
        0
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "=message",
                "value": "={{ $('Message a model').item.json.message.content }}"
              }
            ]
          }
        }
      },
      "id": "22904afb-8767-405d-8c1d-6f008bcc4d27",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a creative social media writer for a page called \"Future with AI\". \nWrite a short, catchy, and futuristic Twitter post about the topic:{{ $('Fetch Unposted Row').item.json.Topic }} .\nKeep it under 270 characters, use an engaging tone, and include 2–3 relevant hashtags related to AI, technology, innovation, or the future. \nAvoid emojis and keep it professional yet inspiring.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        0
      ],
      "id": "8eb5e5c1-6595-4625-9a55-6ed90c980551",
      "name": "Message a model"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Unposted Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unposted Row": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "79839ecc23ba2a22d662258558a60810112b4706229ecb02b65e3b9cc743a7e5"
  },
  "tags": []
}